<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.survey.mapper.SurveyMapper">

	   <select id="selectSurveyList" resultType="Survey">
	      SELECT	*	
	      FROM		survey
	      ORDER BY	s_idx DESC
	      LIMIT		${pageNum}, ${perPage}
	   </select>
	   
	   
	   <select id="selectMySurveyList" resultType="Survey">
	      SELECT	*	
	      FROM		survey
	      WHERE 	u_idx = #{user.username}
	      ORDER BY	s_idx DESC
	      LIMIT		${pagination.pageNum}, ${pagination.perPage}
	   </select>
	   
	   
	   <select id="getSurvey" resultType="Survey">
	      SELECT *	FROM survey	WHERE s_idx = #{s_idx}
	   </select>
	   
	   
	   <select id="getQuestions" resultType="Question">
	      SELECT * FROM question WHERE s_idx = #{s_idx}
	   </select>
	   
	   
	   <select id="getItems" resultType="Item">
	      SELECT * FROM item WHERE q_idx = #{q_idx}
	   </select>
	   
	   
	   <select id="getSurveyCount" resultType="int">
	      SELECT COUNT(*) count	FROM survey
	   </select>
	   
	   
	   <select id="getItemCount" resultType="int">
	      SELECT COUNT(*) count	FROM response_content WHERE i_idx = #{i_idx}
	   </select>
	   
	   
	   <select id="getRespondents" resultType="String">
	   		SELECT ru.u_name FROM response_user ru WHERE s_idx = #{s_idx}
	   </select>
	   
	   
	   <select id="getRespondentsCount" resultType="int">
	   		SELECT COUNT(*) FROM response_user WHERE s_idx = #{s_idx}
	   </select>
	   
	   
	   <select id="getResp_contents" resultType="Response_content">
	      SELECT 	rc.s_idx, rc.q_idx 
	      FROM 		response_content rc 
	      WHERE 	s_idx = #{s_idx}
	      GROUP BY 	rc.q_idx
	   </select>
	   
	   
	   <select id="getResp_items" resultType="Response_item">
	      SELECT 	rc.i_idx, it.i_value, rc.content
	      FROM 		response_content rc 
	      LEFT JOIN	item it ON rc.i_idx = it.i_idx
	      WHERE 	rc.q_idx = #{q_idx}
	      GROUP BY	rc.i_idx
	   </select>
	   
	   
	   <select id="getResp_items_wo_group" resultType="Response_item">
	      SELECT 	rc.i_idx, it.i_value, rc.content
	      FROM 		response_content rc 
	      LEFT JOIN	item it ON rc.i_idx = it.i_idx
	      WHERE 	rc.q_idx = #{q_idx}
	   </select>
	   
	   
	   <insert id="insertSurvey">
	      INSERT INTO survey(title, description, u_idx) 
	      VALUES			(#{title}, #{description}, #{u_idx})
	      <selectKey keyProperty="s_idx" resultType="Integer">
		    SELECT LAST_INSERT_ID()
		  </selectKey>
	   </insert>
	   
	   
	   <insert id="insertQuestion">
	      INSERT INTO question(q_value, q_type, s_idx) 
	      VALUES
	      <foreach collection="questions" item="question" separator=",">
	      		(#{question.q_value}, #{question.q_type}, #{s_idx})
	      </foreach>
	   </insert>
	   
	   
	   <insert id="insertItem">
		  INSERT INTO item(i_value, s_idx, q_idx) 
		  VALUES 
		  <foreach collection="questions" item="question" index="i" separator=",">
			<foreach collection="question.items" item="item" separator=",">
				<choose>
					<when test="item.i_value != null">
						(#{item.i_value}, #{s_idx}, 
							(	SELECT		q_idx
								FROM		question
								WHERE		s_idx = #{s_idx}
								ORDER BY	q_idx
								LIMIT		1
							) + #{i}
						)
					</when>
				</choose>
			</foreach>
	 	  </foreach>
	   </insert>
	   
	   
	   <insert id="insertResp_user">
		  INSERT INTO response_user(s_idx, u_name, r_date)
		  VALUES(#{s_idx}, #{u_name}, #{r_date})
		  <selectKey keyProperty="r_idx" resultType="Integer">
		    SELECT LAST_INSERT_ID()
		  </selectKey>
	   </insert>
	   
	   
	   <insert id="insertResp_content">
		  INSERT INTO response_content(r_idx, s_idx, q_idx, i_idx, content)
		  VALUES
		  <foreach collection="r_contents" item="r_content" separator=",">
		  	<foreach collection="r_content.resp_items" item="resp_item" separator=",">
		  		(#{r_idx}, #{s_idx}, #{r_content.q_idx}, #{resp_item.i_idx}, #{resp_item.content})
		  	</foreach>
		  </foreach>
	   </insert>
	
	   
</mapper>

